.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin-top: 22.5px;
  text-shadow: 2px 2px 10px rgb(46, 27, 112);
  background: linear-gradient(10deg, #131125, #0a0a0a);
}
.screen-header__title {
  font-size: 22px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 35px;
  opacity: 90%;
}
